.widget_list
	padding-left: 0px



.cap-container
	margin: 100px auto
	max-width: 800px



.cap-content
	display: flex
	flex-direction: column
	align-items: flex-start
	border: 1px dashed #333333
	padding: 20px
	margin: 20px 0

	.link
		margin-bottom: 15px

		&:last-child
			margin-bottom: 0
