body
	color: #3B4256
	font-family: $ff
	line-height: 1.3
	font-size: 14px
	overflow-x: hidden

	*
		box-sizing: border-box
		font-family: $ff



.page--personal
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100vh

	.page__content
		flex: 1
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: stretch

		&>.section-gray
			flex: 1

		&>.container
			width: 100%
