.btn
	+reset_btn()
	min-width: 52px
	display: flex
	align-items: center
	justify-content: center
	background: #53CEBF
	border: 1px solid #FFFFFF
	box-sizing: border-box
	border-radius: 3px
	font-size: 16px
	color: #ffffff
	font-family: $ffb
	padding: 16px 22px
	transition: background ease .3s
	text-decoration: none !important

	&:hover
		background: #53cebfc9



.btn--border
	color: #3B4256
	border: 1px solid rgba(59, 66, 86, 0.5)
	background: #fff !important
	padding: 10px 22px
	transition: border-color ease .3s

	&:hover
		border-color: #000000




.arrow-link
	display: flex
	align-items: center
	text-decoration: none

	span
		color: #00067A
		font-family: $ffm !important
		font-size: 14px !important

	.icon
		color: #00067A !important
		margin-bottom: 0px
		font-size: 24px !important
		margin-left: 6px
		transition: transform ease .3s

	+max-screen("480px")

		span
			font-size: 12px !important

		.icon
			font-size: 12px !important



.swipe-block
	display: flex
	align-items: center
	justify-content: center
	padding-bottom: 8px
	display: none

	.icon
		color: #848e99
		font-size: 43px

	+max-screen("1100px")
		display: flex
