@mixin font_face($file_name,$font_name:$file_name,$path:$font_path,$weight:normal,$style:normal)
	@font-face
		font-family: quote($font_name)
		src: url($path + $file-name + ".eot")
		src: url($path + $file-name + ".eot?#iefix") format("embedded-opentype"), url($path + $file-name + ".woff") format("woff"), url($path + $file-name + ".ttf") format("truetype"), url($path + $file-name + ".svg##{$font_name}") format("svg")
		font-weight: $weight
		font-style: $style

@mixin font_face_ttf($file_name,$font_name:$file_name,$path:$font_path,$weight:normal,$style:normal)
	@font-face
		font-family: quote($font_name)
		src:  url($path + $file-name + ".ttf") format("truetype")
		font-weight: $weight
		font-style: $style
		font-display: fallback

+font_face_ttf("GostBold", "GostBold", "/fonts/GostBold/")
+font_face_ttf("GostMedium", "GostMedium", "/fonts/GostMedium/")
+font_face_ttf("GostRegular", "GostRegular", "/fonts/GostRegular/")
+font_face_ttf("UbuntuBold", "UbuntuBold", "/fonts/UbuntuBold/")
+font_face_ttf("UbuntuMedium", "UbuntuMedium", "/fonts/UbuntuMedium/")
