.input-group
	position: relative
	margin-bottom: 17px
	border-radius: 3px

	input
		color: transparent

	&--error

		.input-group__error
			display: block

		.input
			border-color: #E53935 !important

	&--success

		.input
			border-color: #389F88 !important
		
	&--not-empty

		.input-group__label
			transform: translateY(8px)
			font-size: 14px
			color: #848E99

		input
			color: #3B4256

	&--icon

		.input
			padding-left: 60px

			&::-webkit-datetime-edit-year-field:not([aria-valuenow]),
			&::-webkit-datetime-edit-month-field:not([aria-valuenow]),
			&::-webkit-datetime-edit-day-field:not([aria-valuenow]) 
				display: none !important


		.input-group
			
			&__label
				padding-left: 60px

	&--personal-data
		margin-bottom: 0	
		display: inline-flex

		.checkbox
			align-items: flex-start

	&__icon
		color: #848E99
		position: absolute
		left: 23px
		top: 20px
		z-index: 3
		pointer-events: none
		height: 24px

		.icon
			font-size: 24px !important

	&__label
		font-size: 16px
		line-height: 1
		color: #3B4256
		padding-left: 23px
		transform: translateY(25px)
		transition: transform ease .3s, color ease .3s,  font-size linear .3s
		display: inline-block
		position: absolute
		top: 0
		z-index: 3
		pointer-events: none

	&__error
		display: none
		color: #E53935
		font-size: 14px
		padding-top: 9px

	&__wrapper
		background: #F4F7FB
		display: inline-flex
		position: relative
		width: 100%
		border-radius: 3px

	&__success
		color: #389F88
		position: absolute
		top: 50%
		right: 18px
		z-index: 10
		transform: translateY(-50%)

		.icon
			font-size: 24px

	+max-screen("600px")

		&__label
			padding-left: 16px
			transform: translateY(23px)
			font-size: 14px

		&__icon
			left: 16px
			top: 19px

			.icon
				font-size: 20px !important

		&--icon
			
			.input
				padding-left: 45px


			.input-group
				
				&__label
					padding-left: 45px


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
	-webkit-box-shadow: 0 0 0 32px #F4F7FB inset !important



.input
	background-color: transparent
	border: 1px solid transparent
	border-radius: 3px
	min-height: 64px
	font-size: 16px
	line-height: 1
	outline: none
	padding: 25px 23px 15px
	z-index: 2
	transition: border-color ease .3s
	width: 100%

	&:hover
		border-color: #DDE1E6

	&:focus
		border-color: #62B0FF

	+max-screen("600px")
		min-height: 56px
		padding: 24px 16px 14px
		font-size: 14px



[type="time"]
	height: 22px



.textarea
	min-height: 95px
	min-width: 100%
	max-width: 100%
	width: 100%

.checkbox
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	cursor: pointer

	[type="checkbox"]
		display: none

		&:checked 
			~
				.checkbox__indicator

					.icon
						transform: scale(1)
						
	&__indicator
		display: block
		height: 17px
		width: 17px
		min-width: 17px
		margin-right: 9px
		border: 1px solid #EEEEEE
		border-radius: 3px
		display: flex
		align-items: center
		justify-content: center
		box-sizing: border-box
		overflow: hidden

		.icon
			transition: transform ease .3s
			transform: scale(0)
			color: #EEEEEE !important
			height: 6px

	&__description
		font-size: 14px
		color: #EEEEEE
		margin-bottom: -2px



.datepicker--day-name
	color: #848E99



.datepicker--cell.-selected-
	background: #E94B3D