.container
  max-width: 1156px
  margin-left: auto
  margin-right: auto

  +max-screen($wgmax)
    margin-left: 88px
    margin-right: 88px

  +max-screen("900px")
    margin-left: 40px
    margin-right: 40px

  +max-screen("768px")
    margin-left: 16px
    margin-right: 16px



.section-gray
  background: #F4F7FC



.section-blue
  background: #00067A



.section-white
  background: #ffffff
