.animated
	animation-duration: .3s
	animation-fill-mode: both


.fadeInUp
	animation-name: fadeInUp


.fadeOutUp
	animation-name: fadeOutUp


@keyframes fadeInUp
	0%
		opacity: 0
		transform: translate3d(0, 10px, 0)

	100%
		opacity: 1
		transform: none


@keyframes fadeOutUp
	0%
		opacity: 1

	100%
		opacity: 0
		-webkit-transform: translate3d(0, -20px, 0)
		transform: translate3d(0, -20px, 0)



.wrap-preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0, 6, 122, 0.6)
	z-index: 99999
	display: flex
	align-items: center
	justify-content: center



#preloader
	height: 50px
	width: 50px
	border: 3px solid #F4F7FB
	border-top: 3px solid #00067A
	border-radius: 30px
	animation: preloader 1s infinite linear



@keyframes preloader
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)


@-webkit-keyframes animate-circle
	from
		-webkit-transform: scale(0)
		transform: scale(0)
		opacity: 0.5

	to
		-webkit-transform: scale(1)
		transform: scale(1)
		opacity: 0


@keyframes animate-circle
	from
		-webkit-transform: scale(0)
		transform: scale(0)
		opacity: 0.5

	to
		-webkit-transform: scale(1)
		transform: scale(1)
		opacity: 0


.loader
	--size: 10rem
	position: fixed
	top: 50%
	left: 50%
	height: var(--size)
	width: var(--size)
	-webkit-transform: translateX(-50%) translateY(-50%)
	transform: translateX(-50%) translateY(-50%)
	> .circle
		--duration: 2s
		position: absolute
		height: inherit
		width: inherit
		background: #fff
		border-radius: 50%
		-webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite
		animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite
		&:nth-of-type(1)
			-webkit-animation-delay: 0
			animation-delay: 0
		&:nth-of-type(2)
			-webkit-animation-delay: calc(var(--duration) / -3)
			animation-delay: calc(var(--duration) / -3)
		&:nth-of-type(3)
			-webkit-animation-delay: calc(var(--duration) / -6)
			animation-delay: calc(var(--duration) / -6)
