.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-1 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-10 {
	font-size:(36/10)*1rem;
	width:(38/36)*1em;
}
.icon-2 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-3 {
	font-size:(15/10)*1rem;
	width:(21/15)*1em;
}
.icon-9 {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-logo {
	font-size:(43/10)*1rem;
	width:(42/43)*1em;
}
.icon-marker {
	font-size:(18/10)*1rem;
	width:(12/18)*1em;
}
