.text-content

	P
		margin: 8px 0
		color: #3B4256
		font-size: 16px
		line-height: 22px

		&:firts-child
			margin-top: 0

		&:last-child
			margin-bottom: 0

	strong
		color: rgba(0, 0, 0, 0.8)
		line-height: 22px
		font-size: 16px
		font-family: $ffm



.link
		color: #53CEBF
		font-size: 14px
		text-decoration: underline

		&:hover
			text-decoration: none



.sub-title
	font-size: 22px
	line-height: 28px
	font-family: $ffb



.seo-title
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	line-height: inherit
	margin: 0
	padding: 0



.ul-arrow
	font-family: $ff
	font-size: 16px
	line-height: 22px
	padding-left: 0
	list-style-type: none !important

	&:last-child
		margin-bottom: 0

	li
		margin: 0
		margin-bottom: 10px
		position: relative
		min-height: 90px
		padding: 15px 20px 15px 60px
		background: #FFFFFF
		list-style-type: none !important
		display: flex
		align-items: center

		&:after
			position: absolute
			width: 19px
			height: 15px
			content: ""
			left: 23px
			background-image: url('/img/list-arrow.png')
			top: 50%
			transform: translateY(-50%)

		&:last-child
			margin-bottom: 0



.ul-icon
	font-family: $ff
	font-size: 16px
	line-height: 22px
	padding-left: 0
	list-style-type: none

	&__top

		&:after
			top: 41px !important
			transform: translateY(0) !important

	&:last-child
		margin-bottom: 0

	li
		margin: 0
		position: relative
		min-height: 107px
		padding: 35px 60px 35px 78px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		background: #FFFFFF
		border-bottom: 1px solid rgba(0, 0, 0, 0.15)

		.btn
			margin-top: 15px

		&:after
			position: absolute
			width: 48px
			height: 53px
			content: ""
			left: 0
			background-image: url('/img/list-icon.png')
			top: 50%
			transform: translateY(-50%)

		&:last-child
			margin-bottom: 0
