.home-banner
	background: #53CEBF

	&__title
		font-size: 35px
		color: #fff
		font-family: $ffb
		padding: 107px 0 45px
		max-width: 630px



.information-cards
	display: flex
	align-items: stretch
	justify-content: space-between
	margin-left: -10px
	margin-right: -10px



.information-card
	background: #FFFFFF
	box-shadow: 0px 4px 20px rgba(27, 26, 78, 0.15)
	border-radius: 5px
	transition: box-shadow ease .3s
	margin: 0 10px
	width: calc(100% / 3 - 20px)
	display: flex
	align-items: stretch
	text-decoration: none
	color: #3B4256
	margin-bottom: -65px

	&__content
		padding: 25px 0 25px 20px
		flex: 1
		display: flex
		align-items: center

	&__action
		display: flex
		flex-direction: column
		justify-content: space-between

		.information-card__name
			padding-bottom: 5px

	&__name
		font-size: 16px
		font-family: $ffm
		line-height: 20px

	&__image
		width: 155px
		min-width: 155px
		background-position: bottom right
		background-repeat: no-repeat

	&__counter

	&__count
		font-size: 40px
		line-height: 1

	&:hover
		box-shadow: 0px 2px 10px rgba(27, 26, 78, 0.15)



.home-steps



.home-step
	padding-top: 100px
	padding-bottom: 100px

	&:first-child
		padding-top: 140px

	&__content
		max-width: 666px

	&__title
		margin-bottom: 40px

	&__description
		padding-bottom: 10px

		strong
			margin-top: 50px
			display: block



.home-step-navigation
	background: #FFFFFF
	box-shadow: 0px 4px 20px rgba(27, 26, 78, 0.15)
	border-radius: 5px
	position: absolute
	padding: 34px 0 26px 0
	top: 145px
	max-width: 372px
	z-index: 15
	right: 0

	&:not(.home-step-navigation--fixed)
		right: 0 !important

	&--fixed
		position: fixed
		top: 25px

	&__wrapper
		position: relative

	&__list
		display: flex
		flex-direction: column
		align-items: stretch

	&__link
		text-decoration: none
		min-height: 36px
		margin-bottom: 5px
		padding: 0 24px 0 21px
		line-height: 18px
		color: #3B4256
		font-size: 14px
		display: flex
		align-items: center
		transition: border-width ease .2s
		border-left: 0 solid #53CEBF

		&:hover
			text-decoration: underline

		&--active
			border-width: 6px

	.btn
		width: calc(100% - 52px)
		margin: 20px 26px 0
		max-width: 100%



.section-questions
	display: flex
	justify-content: space-between
	align-items: center

	&__content

		.sub-title
			margin-bottom: 10px

		.btn
			margin-top:40px

	&__image
		max-width: 395px

		img
			max-width: 100%
