.service-steps
	display: flex
	align-items: flex-end
	justify-content: flex-start
	padding-top: 15px


.service-step
	text-decoration: none
	margin: 0 15px
	border-bottom: 3px solid $trans
	color: rgba(139, 139, 139, 0.8)
	transition: color ease .3s, border-color ease .3s
	padding: 0 20px 12px

	&:first-child
		margin-left: 0

	&:last-child
		margin-right: 0

	&--active
		color: rgba(0, 0, 0, 0.8)
		border-color: #3B4256
		font-family: $ffb

	&--disabled
		pointer-events: none

	&--passed
		color: rgba(0, 0, 0, 0.8)



.personal-service
	padding-top: 60px
	padding-bottom: 115px
	max-width: 680px

	&__title
		color: rgba(0, 0, 0, 0.8)
		font-size: 16px
		font-family: $ffm

	&__content

		.ul-icon
			max-width: 640px

			li
				background: none
				border-bottom: none
				padding-top: 20px
				padding-right: 0

			.ul-icon__top:after
				top: 25px !important



.service-status
	background: #FFFFFF
	border: 1px solid #FFFFFF
	border-radius: 3px
	margin: 25px 0 0
	display: flex
	align-items: center

	&__icon
		font-size: 16px
		margin-left: 18px

		img
			width: 16px
			margin-bottom: -2px

	&__content
		color: #3B4256
		font-size: 16px
		line-height: 22px
		padding: 15px 18px 15px 12px
		flex: 1



.next-step
	display: flex
	align-items: center
	text-decoration: none

	&__title
		color: #3B4256
		font-size: 16px
		font-family: $ffb
		margin-right: 17px

	&__icon
		display: flex
		align-items: center
		justify-content: center
		background: #53CEBF
		border-radius: 3px
		width: 52px
		height: 52px
		transition: background ease .3s

		.icon
			font-size: 16px
			color: #fff

	&:hover

		.next-step__icon
			background: #3fbbac



.question-cards
	display: flex
	align-items: stretch
	margin-left: -13px
	margin-right: -13px
	margin-top: 25px



.question-card
	background: #FFFFFF
	border-radius: 4px
	width: calc(50% - 26px)
	margin: 0 13px
	padding: 16px 20px
	color: #3B4256

	&__title
		font-size: 16px

	&__value
		font-size: 19px
		font-family: $ffm
		padding-top: 9px

	&--green
		background: #53CEBF
		color: #FFFFFF



.notification-settings
	margin-top: 45px

	&__header
		padding: 22px 0 10px
		margin-bottom: 20px
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)
		display: flex
		align-items: center
		justify-content: space-between

	&__title
		font-size: 16px
		color: #000

	&__period
		+reset_btn()
		color: #53CEBF
		font-size: 16px



.notification-setting
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 12px

	&__name
		font-size: 16px
		flex: 1

	&:last-child
		margin-bottom: 0



.remained-day
	margin-top: 20px
	display: flex
	align-items: center

	&__value
		width: 64px
		height: 67px
		background: #FFFFFF
		border-radius: 4px
		color: #53CEBF
		font-size: 24px
		line-height: 22px
		display: flex
		align-items: center
		justify-content: center
		margin: 0 12px

	span
		font-size: 16px
		line-height: 22px

