.bread-crumbs
  display: flex
  align-items: center
  justify-content: flex-start
  padding: 25px 0
  overflow: hidden
  overflow-x: auto
  flex-wrap: wrap



.bread-crumb
  color: rgba(0, 0, 0, 0.5)
  font-size: 14px
  text-decoration: none
  font-family: $ff
  white-space: nowrap
  position: relative
  padding: 0

  &:before
    content: ""
    left: 0
    position: absolute
    bottom: -1px
    right: 23px
    border-bottom: 1px solid $trans
    height: 1px
    transition: border-color ease .3s

  &:after
    content: "-"
    padding-left: 9px
    padding-right: 9px
    text-decoration: none

  &:not(a)

    &:after
      display: none

    &:before
      display: none

  &:hover:before
    border-color: #848E99
