.user-small
	display: flex
	align-items: stretch
	justify-content: flex-start
	padding: 15px 0 40px

	&__photo
		width: 48px
		height: 48px
		border-radius: 50%
		background: #D8DDE5
		margin-right: 18px
		background-size: cover
		background-repeat: no-repeat
		background-position: center

	&__content
		display: flex
		flex-direction: column
		justify-content: center

	&__name
		font-size: 16px
		color: #3B4256
		font-family: $ffm
		padding-bottom: 2px
