.footer
	background: #3B4256
	padding-top: 30px

	&__content

	&__top
		display: flex
		align-items: center
		justify-content: space-between
		border-bottom: 1px solid rgba(255, 255, 255, 0.5)
		padding-bottom: 18px

	&__contact
		display: flex
		align-items: center

		span
			display: block
			padding-left: 13px
			color: rgba(255, 255, 255, 0.8)
			font-size: 16px
			line-height: 20px

	&__phone
		color: #FFFFFF
		text-decoration: none
		font-size: 20px
		line-height: 26px

		&:hover
			text-decoration: underline

	&__applications

		a:first-child
			margin-right: 15px

	&__bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0

		a
			color: rgba(255, 255, 255, 0.5)
			text-decoration: none
			font-size: 14px

			&:hover
				text-decoration: underline

	&__copy
		color: rgba(255, 255, 255, 0.5)
		font-size: 14px
		line-height: 18px



.write-message-bot
	+reset_btn()
	color: #FFFFFF
	background: #8982DC
	position: fixed
	right: 0
	bottom: 0
	height: 64px
	padding: 14px 20px
	display: flex
	align-items: center
	justify-content: flex-start
	min-width: 280px
	transition: background ease .3s

	&__icon
		color: #fff
		margin-right: 12px
		display: flex
		align-items: center

		.icon
			font-size: 36px

	&__title
		font-size: 16px
		line-height: 19px

	&__close
		position: absolute
		font-size: 10px
		top: 12px
		right: 12px

	&:hover
		background: #786fde
