.top-menu
	display: flex
	align-items: center
	justify-content: space-between

	&__wrapper
		background:  #091120

	&__more
		color: rgba(255, 255, 255, 0.7)
		text-decoration: none
		font-size: 14px
		transition: color ease .3s
		display: flex
		align-items: center

		&-icon
			margin-right: 13px
			margin-top: -1px
			width: 15px
			height: 15px

		&-name

		&:hover
			color: #ffffff

	&__additional
		display: flex
		align-items: stretch
		justify-content: flex-end



.menu-search
	color: rgba(255, 255, 255, 0.7)
	text-decoration: none
	font-size: 14px
	transition: color ease .3s
	display: flex
	align-items: center
	padding: 0 30px

	&__icon
		margin-right: 10px
		margin-bottom: -3px

		.icon
			font-size: 16px

	&__text

	&:hover
		color: #ffffff



.top-regions



.region-select
	+reset_btn()
	display: flex
	align-items: center
	justify-content: center
	color: rgba(255, 255, 255, 0.7)
	padding: 0 30px
	transition: color ease .3s

	&__icon
		margin-bottom: -2px

		.icon
			font-size: 17px

	&__name
		margin: 0 0 0 13px

	&__anchor
		font-size: 7px

	&:hover
		color: #fff



.top-personal
	min-height: 52px
	padding: 0 32px
	display: flex
	align-items: center
	justify-content: center
	text-decoration: none
	transition: color ease .3s
	color: #FFFFFF

	&__icon
		margin-right: 13px

		.icon
			font-size: 16px

	&__name

	&:hover
		color: rgba(255, 255, 255, 0.7)



.visually-impaired-link
	min-height: 52px
	color: #FFFFFF
	display: flex
	align-items: center
	justify-content: center
	padding: 0 30px
	background: #293243
	text-decoration: none
	transition: color ease .3s

	&__icon
		margin-right: 13px
		display: flex
		align-items: center

		.icon
			font-size: 14px

	&__name
		font-size: 16px

	&:hover
		color: rgba(255, 255, 255, 0.7)



.menu-navigation
	display: flex
	align-items: center
	justify-content: space-between

	&__wrapper
		border: 1px solid rgba(0, 0, 0, 0.15)

		&--white
			border: none

			.menu-navigation__link,
			.menu-link,
			.logo,
			.logo__icon
				color: #fff



.menu-links
	display: flex
	align-items: stretch



.menu-link
		font-size: 14px
		font-family: $ffb
		color: #000000
		padding: 30px 14px
		text-decoration: none

		&:hover
			text-decoration: underline



.logo
	display: flex
	align-items: center
	text-decoration: none
	color: #000000
	transition: opacity ease .3s

	&__icon
		margin-right: 7px
		color: #000000

		.icon
			font-size: 37px

	&__content
		display: flex
		flex-direction: column
		justify-content: space-between

	&__name
		font-size: 16px
		font-family: $ffm

	&__description
		font-family: $ff

	&:hover
		opacity: 0.8
