.modals
	display: none

.mfp-close
	display: none !important

.mfp-bg
	background: rgba(0, 6, 122, 0.6)

.mfp-fade

	&.mfp-bg
		opacity: 0
		-webkit-transition: all 0.15s ease-out
		-moz-transition: all 0.15s ease-out
		transition: all 0.15s ease-out

		&.mfp-ready
			opacity: 0.8

		&.mfp-removing
			opacity: 0

	&.mfp-wrap

		.mfp-content
			opacity: 0
			-webkit-transition: all 0.15s ease-out
			-moz-transition: all 0.15s ease-out
			transition: all 0.15s ease-out

		&.mfp-ready .mfp-content
			opacity: 1

		&.mfp-removing .mfp-content
			opacity: 0



.mfp-container

	+max-screen("1100px")
		padding-left: 0
		padding-right: 0

.modal
	max-width: 1050px
	margin-left: auto
	margin-right: auto
	width: 100%
	padding: 45px 105px 70px
	background-color: #fff
	border-radius: 3px
	color: #3B4256
	position: relative

	.icon
		font-size: 35px

	&--message
		max-width: 540px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 30px 40px 30px

		.modal

			&__content
				font-size: 12px
				text-align: center
				margin-top: 15px
				color: #333333
				line-height: 1.4
				padding-top: 0

			&__title
				font-size: 20px

			&__description
				max-width: 450px

			&__close
				right: 19px

	&--error

		.modal__icon
			color: $error

	&--success

		.modal__icon
			color: $success

	&--call-back
		max-width: 840px

	&--useful-links
		max-width: 1270px
		padding: 0

		.modal

			&__contetn
				margin-top: 0 !important

			&__close

				.icon
					color: #F4F7FB

	&__close
		position: absolute
		top: 19px
		right: 22px
		width: 24px
		height: 24px
		display: flex
		display: flex
		padding: 0
		align-items: center
		justify-content: center
		background-color: transparent
		border: none
		cursor: pointer
		outline: none

		.icon
			font-size: 24px
			color: #3B4256

	&__icon
		width: 50px
		height: 50px
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 5px
		color: $blue

	&__title
		font-family: $ffub
		font-size: 32px
		text-align: center

	&__description
		font-size: 16px
		text-align: center
		margin-left: auto
		margin-right: auto
		max-width: 555px
		padding-top: 21px

	&__contetn
		margin-top: 45px

	&__make-phone
		margin-top: 50px
		border-top: 1px solid #848E99
		padding-top: 32px
		color: #3B4256
		font-size: 14px
		display: flex
		align-items: center
		justify-content: flex-start

		span
			display: block
			margin-right: 35px

		a
			color: #3B4256
			text-decoration: none
			font-family: $ffb
			transition: color ease .3s

			&:hover
				color: #00067A

	&__form

		.input-group
			margin-bottom: 24px

			&--personal-data

				.checkbox

					&__indicator
						border: 1px solid #3B4256

						.icon
							color: #3B4256 !important

					&__description
						color: #3B4256

		&-row
			display: flex
			align-items: flex-start
			justify-content: space-between

			&--wrap
				flex-wrap: wrap
				margin-left: -16px
				margin-right: -16px

				.input-group
					width: calc(100% / 2 - 32px)
					margin-left: 16px
					margin-right: 16px

		&-column
			margin-left: 16px
			margin-right: 16px
			width: 100%

		&-sender
			display: flex
			align-items: center
			justify-content: space-between

			.input-group--personal-data
				margin-right: 10px
				margin-bottom: 0
				flex: 1
				min-width: 210px

			.btn
				height: 64px
				padding-left: 24px
				padding-right: 24px

		&-cost
			display: flex
			font-size: 14px
			align-items: center
			flex: 2

			span
				display: block
				padding-right: 10px

			b
				font-size: 18px
				font-family: $ffb
				font-weight: normal
				white-space: nowrap

	+max-screen("900px")
		padding: 55px 40px 85px

		&--call-back
			max-width: 700px

		&__close
			top: 22px

		&__form

			&-sender
				padding-top: 16px

			.input-group--personal-data
				min-width: 170px
				width: 170px
				flex: none
				margin-right: 14px

				.checkbox__description
					font-size: 12px

			.btn
				font-size: 16px
				height: 48px

		&__make-phone
			padding-top: 38px

		&__contetn
			margin-top: 40px

		&--useful-links
			max-width: 740px

			.modal__close

				.icon
					color: #3B4256

	+max-screen("768px")
		padding: 45px 16px 32px

		&__form

			&-column
				margin-left: 8px
				margin-right: 8px

			&-row
				margin-left: -8px
				margin-right: -8px

				&--wrap
					margin-left: -8px
					margin-right: -8px

					.input-group
						width: calc(100% / 2 - 16px)
						margin-left: 8px
						margin-right: 8px

		&--message .modal__title
			font-size: 16px
			font-family: $ffm

	+max-screen("670px")

		&__form

			.input-group
				margin-bottom: 16px

			&-column
				margin-left: 0
				margin-right: 0

			&-row
				margin-left: 0
				margin-right: 0
				flex-wrap: wrap

				&--wrap

					.input-group
						width: 100%
						margin-left: 0
						margin-right: 0

			&-sender
				flex-wrap: wrap
				padding-top: 0

			&-cost
				flex: none
				width: 100%
				padding-bottom: 20px
				padding-top: 10px

				b
					font-size: 16px

			.input-group--personal-data
				width: 300px

		&__make-phone
			margin-top: 25px
			padding-top: 20px

			a
				white-space: nowrap

		&__contetn
			margin-top: 30px

		&__title
			font-size: 22px

		&__description
			font-size: 14px


	+max-screen("480px")

		&__contetn
			margin-top: 38px

		&__form

			.input-group--personal-data
				flex: 1
				min-width: 100px
				margin-right: 5px

			.btn
				padding-left: 15px
				padding-right: 15px

			&-cost

				span
					padding-right: 5px


		&__title
			font-size: 18px

		&__make-phone
			flex-wrap: wrap

			span
				width: 100%
				padding-bottom: 12px



.modal

	&-gallery

		.mfp-close
			position: absolute
			top: -15px
			right: -60px
			font-size: 48px
			color: #FFFFFF

		.mfp-bottom-bar
			display: none

		&__arrow
			cursor: pointer
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			min-width: 24px
			max-width: 24px
			height: 24px
			background-color: #00067A
			top: 45%
			transition: background-color 0.3s

			&:hover
				background-color: $trans

				.icon
					color: #fff

			&-icon
				min-width: 24px
				max-width: 24px
				height: 24px
				color: #fff

			&-right
				right: -53px

			&-left
				left: -53px

		+max-screen("768px")

			.modal-gallery__arrow
				display: none



.modal--window

	+max-screen("768px")
		padding-top: 55px

	+max-screen("480px")
		position: fixed
		top: 0
		max-height: 100vh
		overflow: hidden
		overflow-y: auto



.useful-links
	display: flex
	align-items: stretch
	justify-content: flex-start

	&__content
		width: 50%
		padding: 50px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

	&__title
		display: flex
		align-items: center
		justify-content: center

		.icon
			font-size: 56px
			color: #E94B3D

		span
			font-size: 32px
			font-family: $ffub
			margin-left: 24px

	&__list
		display: flex
		flex-wrap: wrap
		max-width: 400px
		padding-top: 75px
		padding-bottom: 75px

		a
			background: #F4F7FB
			border-radius: 3px
			font-size: 14px
			line-height: 1.1
			color: #3B4256
			padding: 20px 27px
			text-decoration: none
			width: 100%
			margin-bottom: 24px
			min-height: 64px
			display: flex
			align-items: center

			&:last-child
				margin-bottom: 0

			&:hover
				text-decoration: underline

	&__image
		width: 50%
		background-image: url('/img/poleznie ssilki.png')
		background-size: cover
		background-repeat: no-repeat
		background-position: center

	+max-screen("900px")

		&__image
			display: none

		&__content
			width: 100%
			padding: 0

		&__list
			padding: 60px 0

	+max-screen("768px")

		&__title

			.icon
				font-size: 45px

			span
				font-size: 22px
				margin-left: 18px

		&__list
			padding: 50px 0

	+max-screen("480px")

		&__list
			padding: 40px 0

			a
				padding: 16px 16px
				min-height: 56px
				margin-bottom: 16px

		&__title

			.icon
				font-size: 35px

			span
				font-size: 18px
				margin-left: 10px
